:root {
  --primary-color: #fbfafb;
  --second-color: #fcca36;
  --third-color: #272044;
  --fourth-color: rgb(242, 242, 242);
}
* {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  color: var(--primary-color);
}
ul {
  list-style: none;
}
p {
  color: #272044;
  opacity: 70%;
  line-height: 26px;
  font-size: 16px;
}
img {
  width: 100%;
  object-fit: cover;
  height: 100%;
}
body {
  font-family: "Plus Jakarta Sans", sans-serif;
  margin: 0 auto;
  background: var(--primary-color);
}
/* ----------- HEADER ----------- */
h1 {
  font-size: 128px;
  font-weight: 800;
  margin-bottom: 20px;
  line-height: 1.2em;
}
h2 {
  font-size: 45px;
  font-weight: 800;
  color: var(--third-color);
}
h3 {
  font-size: 24px;
  font-weight: 800;
  color: var(--third-color);
}
h4 {
  font-size: 16px;
  font-weight: 700;
  color: var(--third-color);
}
.text-heading h2 {
  color: var(--primary-color);
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 50px;
}
.text-heading h3 {
  color: var(--primary-color);
  text-transform: uppercase;
  letter-spacing: 5px;
  margin-bottom: 50px;
}
header {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("../images/olivie-bg.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.text-heading {
  text-align: center;
  color: var(--primary-color);
}
.button {
  display: inline-block;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 3px;
  padding: 16px 32px;
  background-color: var(--second-color);
  border-radius: 5px;
  text-transform: uppercase;
  border: var(--second-color) 2px solid;
  box-shadow: -2px 2px 10px rgba(139, 139, 139, 0.2);
  transition: all 150ms ease-in-out;
}
.button:hover {
  background-color: transparent;
  color: var(--second-color);
  box-shadow: none;
}
/* -----------MAIN ----------- */

.frist-section {
  max-width: 1000px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 64px;
  align-items: center;
  padding: 100px 70px;
}
.frist-section figure {
  height: 600px;
  border-radius: 20px;
  box-shadow: -3px 3px 12px rgba(0, 0, 0, 0.3);
}
.frist-section img {
  border-radius: 20px;
}

.small-heading {
  width: 70px;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 13px;
  margin-bottom: 7px;
  color: var(--second-color);
  padding: 2px 10px;
  border-left: solid 5px var(--second-color);
}

.text-container {
  margin: 32px 0;
}
/* ---2nd section --- */
.bg-color4 {
  background-color: var(--fourth-color);
}
.other-section {
  padding: 100px 70px;
}
.other-section h2 {
  text-align: center;
  margin: auto;
  margin-bottom: 60px;
}
.other-section .small-heading {
  margin-inline: auto;
}
.grid-container {
  display: grid;
  grid-gap: 30px;
}
.grid-3col {
  grid-template-columns: 1fr 1fr 1fr;
}
.other-section article {
  border-radius: 20px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--primary-color);
}
.other-section figure {
  height: 420px;
}
.other-section img {
  object-position: center;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
}

.body-article {
  padding: 24px 32px 0px;
}
.body-article p {
  padding: 8px 0px 24px;
}

article .button {
  margin: 0px 32px 24px;
  display: block;
  text-align: center;
}
article .button:hover {
  background-color: var(--third-color);
  color: var(--primary-color);
  border: var(--third-color) 2px solid;
}
/* ---3rd section --- */

.grid-embeds {
  grid-template-columns: repeat(6, 1fr);
}
.video1 {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
}
.video2 {
  grid-column-start: 3;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 2;
}
.embed1 {
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 2;
  grid-row-end: 4;
  height: 352px;
  width: 100%;
  border-radius: 10px;
}
.embed2 {
  grid-column-start: 5;
  grid-column-end: 7;
  grid-row-start: 1;
  grid-row-end: 4;
  object-fit: cover;
}
.embed-insta {
  height: 100%;
}
.videos {
  display: block;
  width: 100%;
  aspect-ratio: 16 / 9;
  border-radius: 10px;
}

/* ----------- FOOTER ----------- */
footer {
  color: var(--primary-color);
  background: linear-gradient(rgba(29, 45, 70, 0.92), rgba(29, 45, 70, 0.92)),
    url("../images/olivie-bg.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: grid;
  grid-template-columns: 1fr 1.5fr 1.5fr;
  grid-gap: 64px;
  padding: 100px 100px 50px;
}
footer h3 {
  color: var(--primary-color);
  margin-bottom: 16px;
}
footer li {
  margin-bottom: 8px;
}
footer a {
  color: var(--second-color);
  transition: all 150ms ease-in-out;
}
footer a:hover {
  text-decoration: underline;
}
footer div p {
  color: var(--primary-color);
}
@media (max-width: 1200px) {
  .frist-section figure {
    height: 560px;
  }
  .text-container p:last-child {
    display: none;
  }
  h2 {
    font-size: 38px;
  }
  h3 {
    font-size: 20px;
  }
  .embed2 {
    display: none;
  }

  .video1 {
    grid-column-start: 1;
    grid-column-end: 4;
  }
  .video2 {
    grid-column-start: 4;
    grid-column-end: 7;
  }
  .embed1 {
    grid-column-start: 1;
    grid-column-end: 7;
    grid-row-end: 2;
  }

  footer {
    grid-template-columns: 1fr 1.2fr 1.2fr;
    padding: 100px 70px 50px;
  }
}
@media (max-width: 960px) {
  h1 {
    font-size: 70px;
  }
  h2 {
    font-size: 30px;
  }
  h3 {
    font-size: 16px;
  }
  p {
    font-size: 12px;
    line-height: 20px;
  }
  .text-heading h2 {
    font-size: 22px;
    margin-bottom: 140px;
  }
  .text-heading h3 {
    margin-bottom: 140px;
  }
  .text-heading {
    padding: 0 30px;
  }
  .text-container {
    margin: 20px 0;
  }
  .frist-section {
    max-width: 580px;
    grid-template-columns: 1fr;
    grid-gap: 32px;
    padding: 80px 40px;
  }
  .frist-section figure {
    height: 380px;
  }
  .frist-section img {
    object-position: top;
  }
  .frist-section div {
    text-align: center;
  }
  .small-heading {
    margin: auto;
    margin-bottom: 12px;
  }
  .other-section {
    padding: 70px 30px;
  }
  .other-section h2 {
    margin-bottom: 40px;
  }
  .grid-3col {
    grid-template-columns: 1fr;
  }
  .other-section article {
    margin: 0px auto;
    max-width: 650px;
    border-radius: 14px;
  }
  .article-card {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .other-section figure {
    height: 100%;
  }
  .other-section img {
    object-position: center;
    border-top-right-radius: 0px;
    border-top-left-radius: 14px;
  }
  article .button {
    box-shadow: none;
    margin: 0px;
    border-radius: 0px 0px 14px 14px;
  }
  .grid-embeds {
    grid-template-columns: 1fr;
    margin: 0px auto;
    max-width: 650px;
  }

  .video1,
  .video2,
  .embed1 {
    grid-column-start: unset;
    grid-column-end: unset;
    grid-row-start: unset;
    grid-row-end: unset;
  }

  footer {
    text-align: center;
    grid-template-columns: 1fr;
    grid-gap: 50px;
    padding: 60px 50px 40px;
  }
  footer h3 {
    margin-bottom: 12px;
  }
  footer li {
    font-size: 12px;
  }
  footer div p {
    margin: 0 auto;
    max-width: 400px;
  }
}
@media (max-width: 760px) {
  h2 {
    font-size: 26px;
  }

  .other-section article {
    max-width: 400px;
    border-radius: 14px;
  }
  .article-card {
    grid-template-columns: none;
  }
  .body-article {
    padding: 24px;
  }
  .other-section figure {
    max-height: 450px;
  }
  .other-section img {
    border-top-right-radius: 14px;
  }
  .grid-embeds {
    max-width: 400px;
  }
  .embed1 {
    height: unset;
    min-height: 152px;
  }
}
